<% const APP = locals.content; %>
<% const RandomApp = locals.random %>
<% const Api_URL = 'https://api.jikan.moe/v4/'; %>

<% if (APP) { %> <%# check for the data %>
<div id="anime">
    <% APP.data.forEach(animeTitle => { %>
      <div class="card animeList">
      <img src="<%= animeTitle.images.jpg.large_image_url %>" alt="Image" class="card-img-top">
        <div class="card-body container-animeTitle">
      <p class="card-text animeTitle"><%= animeTitle.title_english || animeTitle.title %></p>
         </div>
      </div>
    <% }) %>
 </div>

 <div id="search-pages" class="container text-center">
        
  <% 
      let counter = ((currentPage - 5) < 1) ? 1 : currentPage - 4;
      let maxPages = ((currentPage + 4) > pages) ? pages : counter + 5;
  %>

  <form action="/submit" method="post" class="pagination">
      <input type="hidden" name="animeName" value="<%= titleAnime %>">
      <input type="hidden" name="page" value="<%= currentPage - 1 %>">
      <% if (currentPage === 1) { %>
          <button class="btn btn-secondary" disabled> Previous </button>
      <% } else { %>
          <button type="submit" class="btn btn-light"> Previous </button>
      <% } %>
  </form>
  
  <% for (let index = counter; index <= maxPages; index++) { %>
      <form action="/submit" method="post" class="pagination">
          <input type="hidden" name="animeName" value="<%= titleAnime %>">
          <input type="hidden" name="page" value="<%= index %>">
          <% if (currentPage === index) { %>
              <button class="btn btn-secondary"> <%= index %> </button>
          <% } else { %>
              <button type="submit" class="btn btn-light">
                  <%= index %>
              </button>
          <% } %>
          
      </form>
  <% } %>

  <form action="/submit" method="post" class="pagination">
      <input type="hidden" name="animeName" value="<%= titleAnime %>">
      <input type="hidden" name="page" value="<%= currentPage + 1 %>">
      <% if (currentPage === pages) { %>
          <button class="btn btn-secondary" disabled> Next </button>
      <% } else { %>
          <button type="submit" class="btn btn-light"> Next </button>
      <% } %>
  </form>

</div>

<%- include("./footer.ejs") %>

 <% } else if (RandomApp) { %> 
    <div id="containerRandom"> 
        <div id="randomAnime">
            <div class="descriptionAnime">
                <h5><%= RandomApp.data.title || RandomApp.data.title_english %></h5>
                <p> <strong>Status:</strong> <%= RandomApp.data.status  %></p>
                <p> <strong>Episodes:</strong> <%= RandomApp.data.episodes %></p>
                <% if (RandomApp.data.synopsis) { %>
                    <p> <strong>Synopsis:</strong> <%= RandomApp.data.synopsis %></p>
                <% } else { %>
                    <p><strong>Synopsis:</strong> None</p>
                <% } %>


              <% if (RandomApp.data.genres[0]) { %>
                    <p><strong>Genre/s:</strong> <% RandomApp.data.genres.forEach(genre => { %>
                            <%= genre.name %>,
                    <% });%></p>   
              <% } else { %>
                    <p><strong>Genre:</strong> ?</p>
                <% } %>
            </div>


            <div class="randomImage">
                <img src="<%= RandomApp.data.images.jpg.image_url %>" alt="<%=RandomApp.data.title_english  %>">
            </div>
        </div>
    </div>    
    <%- include("./footer.ejs") %>

<% } %>

